extends layout

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        a(class='navbar-brand TCbrand') T.C. MACKER
    section(data-speed='4' data-type='background' class='background')
    section(data-speed='2' data-type='background' class='content')
        div(class='container')
            div(class='row')
                div(class='col-md-2')
                div(class='col-md-8 contentDiv')
                    p T.C. Macker holds over 15 years of experience in the commercial real estate industry, and is recognized as one of the premier real estate advisers to private and institutional clients.
            div(class='row')
                div(class='col-md-2')
                div(class='col-md-4 backgroundDiv')
                    p Professional background includes:
                    ul(class='backgroundUL')
                        li Over $600M in transactions
                        li Value-based Specialist
                        li Innovative Thinking
                        li Risk Assessor
                        li Financial Analyst
                        li Market Evaluator
                        li Strategic Counselor
                        li Urban Land Institute Member
                        li Certified Commercial Investment Member (CCIM)
                div(class='col-md-4 backgroundDiv')
                    h1(class='quote') "Maximize Asset Value for the best real estate decisions possible"
    section(data-speed='2' data-type='background' class='secondaryBackground')