extends layout

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        a(class='navbar-brand TCbrand') Westside Offices
    div(class='container roomDisplay')
        div(class='row')
            div(class='col-md-1')
                img(class='thumbnail' src='http://images.42floors.com/cdc7c1b12478b746168d4ec0544875e6c73bb2e1.jpg?s=700x467%23' style='margin-bottom:30px; margin-top:20px;margin-left:-100px;')
                img(class='thumbnail' src='http://images.42floors.com/cef4f58c7543b0a9d99b55c9b92cfe7c825ed5ac.jpg?s=700x467%23' style='margin-bottom:30px;margin-left:-100px;')
                img(class='thumbnail' src='http://images.42floors.com/855feda719901994527c1b3b1ba1b94649d04475.jpg?s=700x467%23' style='margin-left:-100px;')
            div(class='col-md-7')
                img(src='http://images.42floors.com/5cad6d721921388199588d0a46c3bbc3a8b378ff.jpg?s=700x467%23')
                div(style='margin-left:10px;')
                    h2 1 office space for rent
                    p Unit 102 <span class='sqft'>2,235 sqft</span>
            div(class='col-md-4')
                div(class='officeDescription')
                    h1 4052 Del Rey Ave
                    h3 Marina del Rey, CA
                    p Setup as loft-style rentable office space, this commercial building is located at 4052 Del Rey Avenue in the heart of the Marina Del Rey area of Los Angeles, CA. The structure was built in 1989 and features a total square footage of approximately 24,500.
                    hr 
                    form(role='form')
                        input(class='form-control' placeholder='name' style='margin-bottom: 10px;')
                        input(class='form-control' placeholder='email@domain.com')
                        br
                        btn(class='btn btn-default tourOffice') <span class='tour'>TOUR OFFICE<span>
                    hr 
                    p(style='font-weight:bold') Listing Agent
                    p Gregory J. Batiste 
                    p Coldwell Banker Commercial Westmac
                    p 310-478-7700 x 343



